<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202850392598-enl6hvnlr0j94mofgepcv3b3gk0mgqvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202850392598-enl6hvnlr0j94mofgepcv3b3gk0mgqvn</string>
	<key>API_KEY</key>
	<string>AIzaSyDSNoIDbZ7YApQjjm95TDhMGEKBtYQqu98</string>
	<key>GCM_SENDER_ID</key>
	<string>202850392598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Papushin.InstagramClone1</string>
	<key>PROJECT_ID</key>
	<string>instagramclone1-254ce</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone1-254ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202850392598:ios:03313cb1cb606e451a3337</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone1-254ce.firebaseio.com</string>
</dict>
</plist>